@font-face
{
	font-family: "a";
	src:url("fonts/Pacifico/Pacifico-Regular.ttf");
}
@font-face
{
	font-family: "b";
	src:url("fonts/Roboto_Slab/RobotoSlab-VariableFont:wght.ttf");
}
@font-face
{
	font-family: "c";
	src:url("fonts/Abel/Abel-Regular.ttf");
}
#navbarNav a
{
	color: black;
}
#navbarNav a:hover
{
 	background-color: white;
}

#banner
{
	background: linear-gradient(to bottom,
		rgba(218,165,146,.1),
		rgba(218,165,146,.1)100%),
	url(img/affordable_point_of_sale_system_lewmasdigitalsolutions_hkwer2.png);
	width: 100%;
	height: 80vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

nav.scrolled
{
	background-color: #346D49;

}
.container-fluid h2
{
	font-family: "b";
}
